.cb {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 16px;
    padding-right: 15px;
}

input {
    margin-left: 20px;
}

select {
    height: 30px;
    font-size: 16px;
}

.filter {
    margin-top: 50px;
}

.btn {
    padding: 5px 5px;
    font-size: 16px;
    height: 30px;
    width: 70px;
    background: #d3c7c7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}